.skier-right {
   background-image: url(skier.png);
   background-position: -25px -6px;
   width: 22px;
   height: 28px;
}

.skier-left {
   background-image: url(skier.png);
   background-position: -26px -43px;
   width: 22px;
   height: 28px;
}

.skier-front {
   background-image: url(skier.png);
   background-position: -67px -2px;
   width: 15px;
   height: 32px;
}

.tree {
   background-image: url(obstacles.png);
   background-position: -0px -31px;   
   width: 28px;
   height: 32px;   
   position: absolute;
}

#mountain {
   border: 1px solid black;
   position: relative;
   overflow: hidden;
}

#skier {
   position: absolute;
}


