.skier-right {
   background-image: url(skier.png);
   background-position: -25px -6px;
   width: 22px;
   height: 28px;
}

.skier-left {
   background-image: url(skier.png);
   background-position: -26px -43px;
   width: 22px;
   height: 28px;
}

.skier-front {
   background-image: url(skier.png);
   background-position: -67px -2px;
   width: 15px;
   height: 32px;
}

.skier-ouch {
   background-image: url(skier.png);
   background-position: -240px 0px;
   width: 33px;
   height: 34px;
}

.skier-after-tree-hit {
   background-image: url(skier.png);
   background-position: 0px -74px;
   width: 32px;
   height: 35px;
}

.rock {
    background-image: url(../imgs/rock.png);
    position: absolute;
}

.tree {
   background-image: url(../imgs/tree.png);
   position: absolute;
}

.bush {
    background-image: url(../imgs/bush.png);
    position: absolute;
}

.log {
    background-image: url(../imgs/log.png);
    position: absolute;
}

.tall-tree {
    background-image: url(../imgs/talltree.png);
    position: absolute;
}

#mountain {
   border: 1px solid black;
   position: relative;
   overflow: hidden;
   float:left;
}

#skier {
   position: absolute;
}

#scoreboard {
    padding: 20px;
    border: 2px solid black;
    float: left;
    margin-left: 10px;
    
}

#scoreboard p {
    display: inline;

}

.scoreboard-item {
    font-family: 'Courier New', Courier, monospace;
}
