/* .mult-table, .mult-table th, .mult-table td{
    border: 1px solid black;
} */

.mult-table th, .mult-table td {
    text-align: center !important;
    font-size: 1.4em;
}

.mult-table {
    display: inline-block !important;
    width: auto !important;
    margin-bottom: 0px !important;
}

.group-of-5-tables {
    margin: auto;
    display:table;
    padding: 25px;
    box-shadow: 2.5px 2.5px 4px 1px rgba(54, 54, 54, 0.568);
    margin-top: 40px;
}
