div {
    position: relative;
}

div.blue {
    width: 100px;
    height: 200px;
    background-color: blue;
}

div.yellow {
    width: 100px;
    height: 150px;
    bottom: 200px;
    left: 100px;
    background-color: yellow;
}

div.red {
    width: 100px;
    height: 150px;
    bottom: 350px;
    left: 200px;
    background-color: red;
}

div.green {
    width: 200px;
    height: 50px;
    background-color: green;
    bottom: 350px;
    left: 100px;
}
